.container {
  margin: 0 auto;
  padding: 0 108px;
  width: 100%;
  background-color: #20222A;
  border-bottom: 1px solid #272E3B;

  &-transparent {
    margin: 0 auto;
    padding: 0 108px;
    width: 100%;
    background-color: transparent;
    border-bottom: 0;
  }

  &-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    border-top: 1px solid #272E3B;
    border-bottom: 0;
  }

  @media (max-width: 1024px) {
    padding: 0 44px;
  }

  @media (max-width: 730px) {
    padding: 0 18px;

    &-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
  }
}