.completed-skin {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 250px;
  animation: show-completed-skin 15s linear;
  img {
    width: 250px;
    height: 187.5px;
  }
  margin-bottom: 10px;
}

@keyframes show-completed-skin {
  0% {
    visibility: hidden;
    opacity: 0;
  }

  97% {
    opacity: 0;
  }

  100% {
    visibility: visible;
    opacity: 1;
  }
}