.completed-skin {
  position: relative;
  cursor: default;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 250px;
  animation: show-completed-skin 11.5s linear;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 10px;

  .bg {
    position: absolute;
    left: 0;
    right: 0;
    top: -54px;
    z-index: 1;
    font-size: 0;
    color: transparent;
    height: 250px;
    width: 300px;
    opacity: .8;
    filter: blur(45px);
  }

  img {
    width: 250px;
    height: 187.5px;
  }

  .info {
    text-align: center;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    z-index: 10;

    &-type {
      span {
        color: #faa020;
        text-shadow: -2px 1px 5px #faad41;
        span {
          color: #fff;
        }
      }
    }
  }
}

@keyframes show-completed-skin {
  0% {
    visibility: hidden;
    opacity: 0;
  }

  97% {
    opacity: 0;
  }

  100% {
    visibility: visible;
    opacity: 1;
  }
}

.Mil-Spec-Grade {
  background-image: linear-gradient(rgba(29, 56, 62, 0), rgb(0 210 255 / 22%) 90%);
}

.Restricted {
  background-image: linear-gradient(rgba(27, 14, 65, 0), rgba(100, 37, 163, 0.24) 90%);
}

.Classified {
  background-image: linear-gradient(rgba(65, 14, 23, 0), rgba(161, 37, 74, 0.24) 90%);
}

.Covert {
  background-image: linear-gradient(rgba(65, 20, 14, 0), rgba(158, 38, 22, 0.24) 90%);
}

.Mystery {
  background-image: linear-gradient(rgba(65, 44, 14, 0), rgba(158, 111, 22, 0.24) 90%);
}