.categories-rare {
  display: flex;
  font-size: 16px;
  font-weight: 100;
  margin-top: 42px;

  @media (max-width: 690px) {
    margin-top: 15px;
  }

  .rare-title {
    margin-right: 24px;

    @media (max-width: 400px) {
      display: none;
    }
  }

  .rare-item {
    width: 60px;
    display: flex;
    margin-right: 16px;

    .number {
      opacity: .5;
      font-weight: 100;
    }

    .square {
      position: relative;
      cursor: pointer;
      outline: 0;
      background-color: transparent;
      width: 20px;
      height: 20px;
      border-radius: 4px;
      border: 1px solid #fff;
      margin-right: 12px;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

      i {
        font-size: 16px;
        color: #000;
        position: absolute;
        top: 1px;
        left: 0;
        right: 0;
        z-index: 10;
      }

      &-mystery {
        border-color: #FFCE50;

        &-active {
          background-color: #FFCE50;
        }
      }

      &-covert {
        border-color: #ED422B;

        &-active {
          background-color: #ED422B;
        }
      }

      &-classified {
        border-color: #CF309C;

        &-active {
          background-color: #CF309C;
        }
      }

      &-restricted {
        border-color: #8533ED;

        &-active {
          background-color: #8533ED;
        }
      }

      &-mil-spec-grade {
        border-color: #275CE4;

        &-active {
          background-color: #275CE4;
        }
      }
    }
  }
}