.loading {
  margin: 0 auto;
}

.info {
  h1 {
    text-align: center;
    font-weight: 300;
    font-size: 26px;
    opacity: .9;
    margin-bottom: 20px;
  }

  .carousel {
    margin: 0 auto;
  }

  .case-form {
    display: flex;
    justify-content: center;

    img {
      width: 250px;
      height: 250px;
    }
  }
}

.open-btn {
  display: flex;
  justify-content: center;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: 400;
}

.skins {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .skin {
    position: relative;
    padding: 10px;
    margin: 0 5px;
    border-radius: 7px;

    img {
      width: 160px;
      height: 120px;
    }

    &-title {
      font-size: 14px;
      font-weight: 300;
      position: absolute;
      bottom: 10px;
      left: 15px;
      z-index: 10;
    }

    &-type {
      font-size: 12px;
      font-weight: 100;
      opacity: .6;
      position: absolute;
      bottom: 30px;
      left: 15px;
      z-index: 10;
    }

    @media (max-width: 415px) {
      img {
        width: 120px;
        height: 90px;
      }
    }
  }
}

.Mil-Spec-Grade {
  background-image: linear-gradient(rgba(29, 56, 62, 0), rgb(0 210 255 / 22%) 90%);
}

.Restricted {
  background-image: linear-gradient(rgba(27, 14, 65, 0), rgba(100, 37, 163, 0.24) 90%);
}

.Classified {
  background-image: linear-gradient(rgba(65, 14, 23, 0), rgba(161, 37, 74, 0.24) 90%);
}

.Covert {
  background-image: linear-gradient(rgba(65, 20, 14, 0), rgba(158, 38, 22, 0.24) 90%);
}

.Mystery {
  background-image: linear-gradient(rgba(65, 44, 14, 0), rgba(158, 111, 22, 0.24) 90%);
}

.carousel {
  // position: absolute;
  // left: 0;
  // right: 0;
  display: flex;
  flex-direction: row;
  border: 3px solid #F4C038;
  border-radius: 8px;
  max-width: 650px;
  overflow: hidden;

  &-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
    max-height: 125px;
    padding: 9px 10px;
    border-right: 1px solid #3D4554;
    border-left: 1px solid #3D4554;

    &-img {

      img {
        width: 100px;
        height: 80px;
      }
    }

    &-title {
      text-align: center;
      font-size: 13px;
      font-weight: 100;
      opacity: .8;
    }
  }
}

.right-to-left-enter {
  transform: translateX(100%);
}

.right-to-left-enter-active {
  transform: translateX(0);
  transition: all 1s ease;
}

.right-to-left-exit {
  transform: translateX(0);
}

.right-to-left-exit-active {
  transform: translateX(-100%);
  transition: all 1s ease;
}

.left-to-right-enter {
  transform: translateX(-100%);
}

.left-to-right-enter-active {
  transform: translateX(0);
  transition: all 1s ease;
}

.left-to-right-exit {
  transform: translateX(0);
}

.left-to-right-exit-active {
  transform: translateX(100%);
  transition: all 1s ease;
}