.container-inventory {
  display: flex;
  justify-content: center;

  .profile-skin {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 70px;
    gap: 12px;
    max-width: 1176px;

    &-item {
      position: relative;
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 120px;
      height: 142px;
      background-color: #272E3B;
      border-radius: 16px;
      overflow: hidden;

      @media (max-width: 419px) {
        width: 105px;
      }

      img {
        width: 88px;
        height: 66px;
        margin-top: 10px;
        margin-bottom: 6px;
      }

      span {
        font-size: 16px;
        margin-bottom: 5px;
      }

      .light {
        font-size: 0;
        color: transparent;
        position: absolute;
        bottom: -17px;
        left: 43%;
        z-index: 10;
        width: 20px;
        height: 20px;
        border-radius: 5px;
        transform: rotate(45deg);

        &-Mystery {
          background-color: #FFCE50;
          box-shadow: 0px 0px 35px 10px #FFCE50;
        }

        &-Covert {
          background-color: #ED422B;
          box-shadow: 0px 0px 35px 10px #ED422B;
        }

        &-Classified {
          background-color: #CF309C;
          box-shadow: 0px 0px 35px 10px #CF309C;
        }

        &-Restricted {
          background-color: #8533ED;
          box-shadow: 0px 0px 35px 10px #8533ED;
        }

        &-Mil-Spec-Grade {
          background-color: #275CE4;
          box-shadow: 0px 0px 35px 10px #275CE4;
        }
      }
    }

    @media (max-width: 1391px) {
      max-width: 1044px;
    }

    @media (max-width: 1259px) {
      max-width: 913px;
    }

    @media (max-width: 1128px) {
      max-width: 781px;
    }

    @media (max-width: 867px) {
      max-width: 648px;
    }

    @media (max-width: 735px) {
      max-width: 516px;
    }

    @media (max-width: 551px) {
      max-width: 384px;
    }

    @media (max-width: 419px) {
      max-width: 339px;
    }

    @media (max-width: 374px) {
      max-width: 318px;

      &-item {
        width: 98px;
      }
    }

    @media (max-width: 353px) {
      max-width: 208px;
    }
  }
}
