.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;

  .copyright {
    font-size: 13px;
    opacity: .5;
  }

  div {

    a {
      font-size: 15px;
      font-weight: 100;
      margin-right: 32px;
      text-decoration: none;
      color: #fff;
      opacity: .5;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    @media (max-width: 730px) {
      display: none;
    }
  }