@import './scss/components/button.scss';
@import './scss/components/container.scss';

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  margin: 0;
  background-color: #20222A;
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  color: #fff;
  min-height: 100vh;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
  padding: 0 20px;
}

::-webkit-scrollbar-track {
  background-color: #17181a;
}

::-webkit-scrollbar-thumb {
  width: 5px;
  border-radius: 100px;
  background-color: #252931;
}