@import './scss/components/button.scss';
@import './scss/components/container.scss';

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  margin: 0;
  background-color: #20222A;
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  color: #fff;

  .app {
    background: url('./assets/img/preview.jpg') center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100vh;
  }
}